 
b {
  position: relative;
  display: inline-block;
  animation-name: animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
#myHeader {
  font-size: 30px;
}
.status {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
   max-width: 100%;
  height: auto;
}
.csssequence {
  animation-name: sequence;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
}
@keyframes animation {
  0%   { left: 0px; transform: translateY(0px); } 
  25%  { left: 100px; transform: rotateX(30deg) translateY(10px) rotate(-13deg); } 
  50%  { left: 250px; transform: translateY(0px); } 
  75%  { left: 100px; transform: translateY(-22px) rotate(3deg) scale(1.1); } 
  100% { left: 0px; transform: translateY(0px); } 
}
@keyframes sequence {
  0% { opacity: 0; transform: scale(0.8); }
  100% { opacity: 1; transform: scale(1); }
}